# No Google Docs
*.gdoc
*.gsheet

# No Data Files
*.csv

# No OS files
*.DS_Store
*Icon*

# No API Key files
*apikey*

#Windows Nuisance Files
desktop.ini
*~$*
Datasets/Nomisweb/Scripts/R/.RData
Datasets/Nomisweb/Scripts/R/.Rhistory
*.qgs~
/Datasets/StatXplore/Scripts/Python/stat_xplore_lib/__pycache__/stat_xplore_schema.cpython-35.pyc
/Datasets/StatXplore/Scripts/Python/stat_xplore_lib/__pycache__/stat_xplore_table.cpython-35.pyc
/Datasets/StatXplore/Scripts/Python/carers_allowance_annotations.txt
/Datasets/StatXplore/Scripts/Python/pip_annotations.txt
/Datasets/StatXplore/Data/carers_allowance_annotations.txt
/Datasets/StatXplore/Data/pip_annotations.txt
/Datasets/StatXplore/Scripts/Python/stat_xplore_scraper/__pycache__/stat_xplore_table.cpython-35.pyc
/Datasets/StatXplore/Scripts/Python/stat_xplore_scraper/__pycache__/stat_xplore_schema.cpython-35.pyc
