# No Google Docs
*.gdoc
*.gsheet

# No Data Files
*.csv

# No OS files
*.DS_Store
*Icon*

# No API Key files
*apikey*

#Windows Nuisance Files
desktop.ini
*~$*
Datasets/Nomisweb/Scripts/R/.RData
Datasets/Nomisweb/Scripts/R/.Rhistory
*.qgs~

#Noting in the pycharm directory.
.idea/*
*.ods
