# No Google Docs
*.gdoc
*.gsheet

# No Data Files
*.csv
*.ods
*.txt
*.xls
*.xlsx
*.zip

# Ignore .orig files (created when merge conflicts are resolved)
*.orig

# No OS files
*.DS_Store
*Icon*

# No API Key files
*apikey*

# Windows Nuisance Files
desktop.ini
*~$*
Datasets/Nomisweb/Scripts/R/.RData
Datasets/Nomisweb/Scripts/R/.Rhistory
*.qgs~

# Noting in the pycharm directory.
.idea/*

# R Studio project files
# History files
.Rhistory
.Rapp.history
/Datasets/StatXplore/Scripts/Python/stat_xplore_lib/__pycache__/stat_xplore_schema.cpython-35.pyc
/Datasets/StatXplore/Scripts/Python/stat_xplore_lib/__pycache__/stat_xplore_table.cpython-35.pyc
/Datasets/StatXplore/Scripts/Python/stat_xplore_scraper/__pycache__/stat_xplore_table.cpython-35.pyc
/Datasets/StatXplore/Scripts/Python/stat_xplore_scraper/__pycache__/stat_xplore_schema.cpython-35.pyc
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
*.Rproj
